@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body-md selection:bg-secondary-fixed selection:text-on-secondary-fixed;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
}
